# Project Jupyter related libraries
jupyterlab
jupyterlab-spellchecker

# Science related libraries
numpy
pandas
scipy
statsmodels
polars

# Interactive tools libraries
ipywidgets

# Graphing libraries
matplotlib
seaborn

# Analyzing missing values
missingno

# Mapping
folium
ipyleaflet
geemap
#leafmap
shapely

# Dash and Dash Components. 
dash
dash-ag-grid
dash_daq
dash-bootstrap-components
dash-mantine-components
dash-extensions
dash-iconify

# Graph data exploration
networkx

# Pub / Sub clients
metpx-sr3
amqp
paho-mqtt

# Geo libraries
geopy
geopandas
pyogrio
geojson
mapclassify
pyarrow
fiona

# Generative AI
#openai
#anthropic
#google-generativeai
#meta-ai-api

# AI Agents
google-adk
langchain
langgraph

# Library to open excel files
openpyxl

# Machine Learning and Computer-Vision
scikit-image
scikit-learn
skrub
skore
xgboost
opencv-python

# Web scraping related libraries
html5lib
lxml
selenium
webdriver-manager
beautifulsoup4
playwright

# SQL libraries
jupysql
ibm-db
oracledb
SQLAlchemy

# MkDocs
mkdocs
mkdocs-material

# Python
debugpy

# Utilities
wget
